{% extends 'base.html.twig' %}

{% block title %}Edit UserPaymentMethod{% endblock %}

{% block body %}
    <h1>Edit UserPaymentMethod</h1>

    {{ include('user_payment_method/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_payment_method_index') }}">back to list</a>

    {{ include('user_payment_method/_delete_form.html.twig') }}
{% endblock %}
