{% extends 'base.html.twig' %}

{% block title %}New UserPaymentMethod{% endblock %}

{% block body %}
    <h1>Create new UserPaymentMethod</h1>

    {{ include('user_payment_method/_form.html.twig') }}

    <a href="{{ path('user_payment_method_index') }}">back to list</a>
{% endblock %}
