<form method="post" action="{{ path('user_contact_info_delete', {'id': user_contact_info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_contact_info.id) }}">
    <button class="btn">Delete</button>
</form>
